<!-- TOP NAVBAR -->
<%= content_for :nav_title, "Hotel Services" %>



  <%#  @last_booking = Booking.last %>
  <% if defined?(@last_booking) %>
  <div class="container">

    <div class="col-xs-12">
      <div class="panel-confirmation-wrapper">
        <div class="panel panel-confirmation text-center">
          <p>Thank you for booking a <%= @last_booking.service.title %>! Your reservation is set on <%= @last_booking.start_datetime.to_date.strftime("%A") %>, at <%= @last_booking.start_datetime.strftime("%H:%M") %>. We are looking forward to see you! </p>
        </div>
      </div>
    </div>
  </div>
  <% end %>



<!-- HOTEL CREATE BUTTON (ONLY DISPLAYS ON ADMIN LOGIN) -->
<% if @hotel.can_manage?(current_user) %>
<%= link_to "Add service", new_stay_hotel_service_path(@stay, @hotel) %>
<% end %>


  <% call_to_action = ["Book a table", "Book a massage", "Go for a swim", "Enjoy our entertainment room", "Get a cab", "Get your laundry cleaned"] %>
  <% i = 0 %>

<!-- DISPLAY ALL SERVICES AND CALL TO ACTIONS -->
<div class="services-container container">

  <!-- LOOP THROUGH HOTEL SERVICES -->
  <% @services.each_with_index do |service, index| %>
  <div class="row">

    <!-- ANCOR TO PHOTO GLOBAL LINK TO SERVICE -->
    <div class="col-xl-12 service-element">

      <!-- SERVICE PHOTO AND DESCRIPTION -->


      <!-- SERVICE PHOTO -->
      <div class="service-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path service.photo.path %>')">
      </div>

      <div class="service-header">
        <h3 ><%= service.title %></h3>
        <div class="service-hour text-center">
          <%= service.start_time %>
          <%= " - " %>
          <%= service.end_time %>
        </div>
        <p><%= service.description %></p>
      </div>

      <hr id="hr-card">
       <!-- SERVICE TIMES -->
      <!-- <div class="service-time">
        <div class="service-hour">
          <%#= service.start_time %>
          <%#= " - " %>
          <%#= service.end_time %>
        </div>
      </div> -->

      <!-- SERVICE TITLE -->
      <%= link_to stay_hotel_service_path(@stay, @hotel, service) do %>
      <div class="service-title text-center">
        <h3><%= call_to_action[i].upcase %></h3>
      </div>
      <% end %>

        <% i += 1 %>




    </div>

  </div>
  <% end %>

</div>

<%= render 'shared/bottom-navbar', home: stay_hotel_path(@stay, @hotel), services: stay_hotel_services_path(@stay, @hotel), locations: stay_hotel_locations_path(@stay, @hotel), edit: "border-top: none;"  %>


