<h1>services from hotel</h1>

<%= link_to "create new service", new_stay_hotel_service_path(@stay, @hotel) %>

<form action="services/search" class="form-inline form-group" >
  <input type="text" name="title" class="form-control" placeholder="Search for service">
  <input type="submit" value="Submit">
</form>

  <% @services.each do |service| %>
    <%= link_to stay_hotel_service_path(@stay, @hotel, service) do  %>
      <p> <%= service.title %> </p>
      <p> <%= service.description %> </p>
      <p> <%= service.end_time %> </p>
      <p> <%= service.start_time %> </p>
      <%= link_to "delete service", stay_hotel_service_path(@stay, @hotel, service), method: :delete %>
      <p>-----------------------------------------</p>
    <% end %>
  <% end %>

<%= render 'shared/bottom-navbar', home: stay_hotel_path(@stay, @hotel), services: stay_hotel_services_path(@stay, @hotel), locations: stay_hotel_locations_path(@stay, @hotel)  %>
