<%= content_for :nav_title, "" %>
<%  hreff = "/stays/#{@stay.id}/hotels/#{@hotel.id}/services" %>
<%= content_for :link, hreff %>

  <div class="book-wrap" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url('<%= cl_image_path @service.photo.path %>'); background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8 fixing-paddings">
        <div id="show-service-content" >

          <div id="service-title" class="mini-title">
            <p> <%= @service.title %> </p>
          </div>

          <div id="service-description">
            <p> <%= @service.description %> </p>
          </div>

          <div id="opening-hours">
            <p>Opens every day from <span id="opening-hours-big"><%= @service.start_time %></span> to <span id="opening-hours-big"><%= @service.end_time %></span>.</p>
          </div>

          <p class="mini-title">Book service</p>
        </div>
          <div class="calendar-wrapper">
            <%= render "shared/calendar-LW" %>
          </div>
      </div>
    </div>
  </div>
</div>

<%# if session[:modal] == true %>
  <%#= render :partial => 'confirm'%>
<%# end %>

