<%= content_for :nav_title, "back" %>
<%  hreff = "/stays/#{@stay.id}/hotels/#{@hotel.id}/services" %>
<%= content_for :link, hreff %>


<p> <%= @service.description %> </p>
<p> <%= @service.end_time %> </p>
<p> <%= @service.start_time %> </p>

<%= link_to "see all services", stay_hotel_services_path(@stay, @hotel) %>




<h1>Book it!</h1>

<%= simple_form_for([@stay, @hotel, @service, @booking]) do |f| %>
  <%= f.input :start_datetime, as: :datetime %>
  <%= f.input :end_datetime, as: :datetime %>
  <%= f.submit "submit", class: "btn btn-primary" %>
<% end %>

<%#= link_to "booking manager", stay_hotel_service_bookings_path(@stay, @hotel, @service) %>


<h1>Bookings control</h1>

<% @bookings.each do |booking| %>
  <p>booking id: <%= booking.id %> </p>
  <p>start date-time: <%= booking.start_datetime %> </p>
  <p>end date-time: <%= booking.end_datetime %> </p>
  <p>user id: <%= booking.user_id %> </p>
  <p>service id: <%= booking.service_id %> </p>
  <%= link_to "delete", stay_hotel_service_booking_path(@stay, @hotel, @service, booking), method: :delete  %>
  <p>-------------------------------------------------</p>
<% end %>
