<%= content_for :meta_title, "Book it" %>

<%= simple_form_for([@stay, @hotel, @service, @booking]) do |f| %>
  <%= f.input :start_datetime, as: :datetime %>
  <%= f.input :end_datetime, as: :datetime %>
  <%= f.submit "submit", class: "btn btn-primary" %>
<% end %>

<%= link_to "booking manager", stay_hotel_service_bookings_path(@stay, @hotel, @service) %>

<h1>Bookings control</h1>

<% @bookings.each do |booking| %>
  <p>booking id: <%= booking.id %> </p>
  <p>start date-time: <%= booking.start_datetime %> </p>
  <p>end date-time: <%= booking.end_datetime %> </p>
  <p>user id: <%= booking.user_id %> </p>
  <p>service id: <%= booking.service_id %> </p>
  <%= link_to "delete", stay_hotel_service_booking_path(@stay, @hotel, @service, booking), method: :delete  %>
  <p>-------------------------------------------------</p>
<% end %>

<a href="http://m.me/110101406273492"> Chatbot</a>

