

<%#= we can not pass a url, we have to pass the current url %>
<%= link_to "Previous", start_date: @date_range.first - 1.day  %>
<%#= this should be customizable %>
<%= @start_date.month %> <%= @start_date.year %>
<%= link_to "Next", start_date: @date_range.last + 1.day  %>

<table class="table table-striped">
  <thead>
  <tr>
    <% @date_range.slice(0,7).each do |day| %>
      <th><%= I18n.t("date.abbr_day_names")[day.wday] %></th>
    <% end %>
  </tr>

  </thead>
  <tbody>
    <% @date_range.each_slice(7) do |week| %>
      <tr>
        <% week.each do |day| %>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= day.day %> <span class="caret"></span>
              </button>
              <ul id="dropdown-hours" class="dropdown-menu">
                <% @service_hours.each do |service_hour| %>
                  <% found = false %>
                  <li>
                    <!-- button -->
                    <% @start_time_bookings_day = [] %>
                    <% @start_time_bookings.each do |start_time_booking| %>
                      <% if start_time_booking.to_date == day and start_time_booking.hour == service_hour.to_i and found == false %>
                        <div class="calendar-lw-time booked-date"><%= service_hour %>:00</div>
                        <!-- <button type="button" class="booked-date"></button> -->
                        <% found = true %>
                      <% else %>
                      <% end %>
                    <% end %>
                    <% if found == true %>

                    <% else %>
                      <div data-date="<%= day %>|<%= service_hour %>" class="calendar-lw-time bookable-date"><%= service_hour %>:00</div>
                      <!-- <button type="button" class="btn btn-success"><%= service_hour %></button> -->
                    <% end %>

                  </li>
                <% end %>
              </ul>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :after_dropdown do %>

  <%#= simple_form_for([@stay, @hotel, @service, @booking]) do |f| %>
  <!-- in the url the last id is always an id. you can move between controllers if you adapt the id into the one you want. -->
  <%= simple_form_for :time_booking, url: stay_hotel_service_bookings_path(:service_id => params[:id]), method: :post do |f| %>
    <%#= f.input :day_selection, input_html: {id: "bookable-date" }  %>
    <%= f.input :day_selection, as: :hidden, input_html: {id: "bookable-date" }  %>
    <%#= hidden_field_tag :day_selection, nil, id: "bookable-date"  %>

    <script type="text/javascript">
      <%s = "3"  %>

      $(document).ready(function(){
        $(".bookable-date").click(function(){
          var el = $(this);
          var dayAndHour = el.attr("data-date");
          $("#bookable-date").val(dayAndHour);
        });

      });

    </script>

    <%= f.submit "submit", class: "btn btn-primary" %>
  <% end %>

<% end %>

<%#=f.text_field :email ,:id=>"email_field" %>

<!--
<button type="submit" class="btn btn-success click-me">Book!</button>
-->










































