<% @start_time_bookings.each do |start_time| %>
  <li>
  <%= start_time %>
  </li>
<% end %>









<%#= we can not pass a url, we have to pass the current url %>
<%= link_to "Previous", start_date: @date_range.first - 1.day  %>
<%#= this should be customizable %>
<%= @start_date.month %> <%= @start_date.year %>
<%= link_to "Next", start_date: @date_range.last + 1.day  %>

<table class="table table-striped">
  <thead>
  <tr>
    <% @date_range.slice(0,7).each do |day| %>
      <th><%= I18n.t("date.abbr_day_names")[day.wday] %></th>
    <% end %>
  </tr>

  </thead>
  <tbody>
    <% @date_range.each_slice(7) do |week| %>
      <tr>
        <% week.each do |day| %>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= day %> <span class="caret"></span>
              </button>
              <ul id="dropdown-hours" class="dropdown-menu">
                <% @bookable_hours[0].each_with_index do |bookable_hour, index| %>

                  <li>
                    <% if @bookable_hours[1][index] == 0 %>
                      <div class="day-btn-wrapper">
                        <button type="button" class="btn btn-success day-btn"><%= bookable_hour %></button>
                      </div>
                    <% else %>
                      <button type="button" class="btn btn-danger"><%= bookable_hour %></button>
                    <% end %>
                  </li>

                <% end %>
              </ul>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(".day-btn-wrapper").on("click",function(){
    // alert("button inside modal clicked");
    var btn = document.createElement("BUTTON");
    var t = document.createTextNode("Confirm");
    btn.appendChild(t);
    btn.className = "confirm-btn";
    // $(this).appendChild(btn);
    document.getElementById("dropdown-hours").appendChild(btn);
    alert("i have clicked a day")
    // document.body.appendChild(btn);
  })
</script>
























