<div class="navbar-bellboy-wrapper">
  <div class="navbar-bellboy">

    <a class="navbar-brand" style="color: white;" href="<%= yield(:link) %>"><%= yield(:nav_title) %></a>

    <a class="bellboy-burger-menu" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <i class="fa fa-bars"></i>
    </a>

  </div>

  <div class="collapse" id="collapseExample">
    <div class="bellboy-dropdown-menu">
      <ul class="list-unstyled">
        <% if @hotel.can_manage?(current_user) %>
          <li><%= link_to "Calendar", stay_hotel_calendar_month_path(@stay, @hotel) %></li>
          <li><%= link_to "Analitics", stay_hotel_calendar_month_path(@stay, @hotel) %></li>
        <% else %>
          <li><%= link_to "WIFI", stays_path %></li>
          <li><%= link_to "About Andy", stays_path %></li>
          <li><%= link_to "Profile", stays_path %></li>
        <% end %>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      </ul>

    </div>
  </div>
</div>
