<div id="main-wrap" class="wrapper" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,30,50,0.3) 10%), url('/assets/background.jpg');">

<div class="col-xs-8 col-sm-6 col-md-4 col-lg-4" style="padding: 0;">
<div id="main-content" class="content">
<div class="header">
  <%= image_tag image_path("logoins.svg"), width: 120 %>
  <h2 id="main-title">Bellboy</h2>
</div>
<br>
<br>

<Div class="log-in"></Div>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs" >
  <span class="fontawesome-user"></span>
    <%= f.input :email, required: false, label: false, autofocus: true, placeholder: "Email", id: "enter-email", type: "text", input_html: { class: "input-field" } %>
    <%= f.input :password, required: false, placeholder: "Password", label: false, input_html: { class: "input-field" }%>
    <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log In", class: "main-btns" %>
  </div>
<% end %>
<br>
<br>



<%= render "devise/shared/links" %>
</div>
</div>
</div>
</div>
