
<table class="table table-striped dash-cal-book-table">
  <thead>
  <tr>
    <% @date_range.slice(0,7).each do |day| %>
        <th class="text-center"><%= I18n.t("date.abbr_day_names")[day.wday] %></th>
    <% end %>
  </tr>

  </thead>
  <tbody>
    <% @date_range.each_slice(7) do |week| %>
      <tr>
        <% week.each do |day| %>
          <td>
            <%= day.day %>
            <%# sort_by(&:start_time) == sort_by{ |m| m.start_time } %>
            <% @hotel_bookings.select { |booking| booking.start_datetime.to_date == day }.sort_by(&:start_datetime).each do |booking| %>
              <%#= @service.title %> <%#= booking.start_datetime %>
              <% booking.service %>
              <div class="booking-info">
                <% if booking.service.title == "Restaurant" %>
                  <i class="fa fa-cutlery" aria-hidden="true"></i>
                  <%= booking.start_datetime.strftime("%H:%M") %>
                <% end %>
                <% if booking.service.title == "Massage" %>
                  <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
                  <%= booking.start_datetime.strftime("%H:%M") %> - <%= booking.user.last_name %>
                <% end %>
              </div>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= link_to "calendar-agenda", stay_hotel_calendar_agenda_path(@stay, @hotel) %>





















