<%= content_for :nav_title, "Hotel booking manager" %>

<div class="calendar-month-wrapper">

  <div class="title-dash-cal-icon-wrapper">
    <div class="title-calendar">
      <p>3-days calendar</p>
    </div>

    <div>
      <i class="fa fa-calendar-check-o dash-cal-icon" aria-hidden="true"></i>
    </div>
  </div>

  <div class="dash-cal-navbar-wrapper">
    <div class="arrow-dash-cal-navi">
      <%= link_to start_date: @date_range.first - 1.day do %>
        <i class="fa fa-chevron-circle-left hover-size" aria-hidden="true"></i>
      <% end %>
    </div>

    <div class="dash-cal-navi-month">
      <%= @start_date.strftime("%B") %> <%= @start_date.year %>
    </div>

    <div class="arrow-dash-cal-navi">
      <%= link_to start_date: @date_range.last + 1.day do %>
        <i class="fa fa-chevron-circle-right hover-size" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>

  <div class="dash-cal-wrapper">
    <%= render "calendar" %>
  </div>

  <div class="service-filters-wrapper">
    <div class="service-filter-btn tables-filter-color hover-size-dash-cal">
      <%= link_to stay_hotel_calendar_week_path(@stay, @hotel, filter: "restaurants") do %>
        <p class="text-service-filter">Tables</p>
      <% end %>
    </div>

    <div class="service-filter-btn massages-filter-color hover-size-dash-cal">
      <%= link_to stay_hotel_calendar_week_path(@stay, @hotel, filter: "massages") do %>
        <p class="text-service-filter">Massages</p>
      <% end %>
    </div>

    <div class="service-filter-btn all-services-filter-color hover-size-dash-cal">
      <%= link_to stay_hotel_calendar_week_path(@stay, @hotel) do %>
        <p class="text-service-filter">All</p>
      <% end %>
    </div>
  </div>


  <div class="type-dash-cal-wrapper">
    <div class="service-filter-btn monthly-dash-cal-color hover-size-dash-cal">
      <%= link_to stay_hotel_calendar_month_path(@stay, @hotel) do %>
        <p class="text-service-filter">Monthly</p>
      <% end %>
    </div>
    <div class="service-filter-btn weakly-dash-cal-color hover-size-dash-cal">
      <%= link_to stay_hotel_calendar_week_path(@stay, @hotel) do %>
        <p class="text-service-filter">Weekly</p>
      <% end %>
    </div>
    <div class="service-filter-btn three-days-dash-cal-color hover-size-dash-cal">
      <%= link_to stay_hotel_calendar_mobile_path(@stay, @hotel) do %>
        <p class="text-service-filter">3-days</p>
      <% end %>
    </div>
  </div>

</div>

<!--
<div class="arrow-dash-cal-navi">
  <%#= link_to "Previous", start_date: @date_range.first - 1.day %>
</div> -->






