<%= content_for :nav_title, "Hotel" %>


<p>hotel address: <%= @hotel.address %></p>
<p>number of rooms: <%= @hotel.rooms.count %> </p>

<%= link_to "services", stay_hotel_services_path(@stay, @hotel) %>
<%= link_to "local tips", stay_hotel_locations_path(@stay, @hotel) %>
<%#= link_to "calendar-agenda", stay_hotel_calendar_agenda_path(@stay, @hotel) %>
<%= link_to "calendar-week", stay_hotel_calendar_agenda_path(@stay, @hotel) %>
<%= link_to "calendar-month", stay_hotel_calendar_month_path(@stay, @hotel) %>

<%= render 'shared/bottom-navbar', home: stay_hotel_path(@stay, @hotel), services: stay_hotel_services_path(@stay, @hotel), locations: stay_hotel_locations_path(@stay, @hotel)  %>
<!-- <p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button> -->

<h1 id="city"></h1>
<h2 id = "temp"> </h2>
<p id="demo"></p>


<%= content_for(:after_js) do %>
 <script>
 $(function(){
    getLocation();
 });
      var x = document.getElementById("demo");
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          x.innerHTML = "Geolocation is not supported by this browser.";
        }

      }
      function showPosition(position) {
        x.innerHTML = "Latitude: " + position.coords.latitude +
        "<br>Longitude: " + position.coords.longitude;
        console.log(position.coords.longitue)
        $.ajax({
          type: "GET",
          url: "http://maps.googleapis.com/maps/api/geocode/json?latlng=" + position.coords.latitude + ","+ position.coords.longitude + "&sensor=true",
          success: function(data) {
            console.log(data.results[0].address_components[2].long_name)
            var city = data.results[0].address_components[2].long_name
            $('#city').append("City: " + city)
          },
          error: function(jqXHR) {
            console.error(jqXHR.responseText);
          }
        });
        $.ajax({
          type: "GET",
          url: "http://api.openweathermap.org/data/2.5/weather?lat=" + position.coords.latitude + "&lon=" + position.coords.longitude + "&appid=9a2b4f85c1cbe3e539c0e6564f72075e",
          success: function(data) {
            var temperature = data.main.temp-273.15
            $('#temp').append( "temperature: " + temperature + " degrees celcius")
          },
          error: function(jqXHR) {
            console.error(jqXHR.responseText);
          }
        });

      }


    </script>

<% end %>
