

<%= content_for :nav_title, "Locations" %>

<%# @locations.each do |location| %>
  <%#= link_to stay_hotel_location_path(@stay, @hotel, location) do  %>
    <!-- <p><%#= location.name %></p> -->
  <%# end %>
<%# end %>

<div id= "full-page-locations" class="content" >


<div id="locations-map" >
<div id="map" style="width: 100%; height: 800px; padding-top: 0; position: fixed;">
</div>
</div>
<div class="please-work"></div>
<div class="the-flex">
<div id="location-index-btns" >
    <%= link_to "All", stay_hotel_locations_path(@stay, @hotel), class: "btn-medium-map btn-medium-red"  %>
    <%= link_to "Restaurants", stay_hotel_locations_path(@stay, @hotel, filter: "restaurant"), class: "btn-medium-map btn-medium-blue", style:"background-color: #25353D;" %>
    <%= link_to "Rentals", stay_hotel_locations_path(@stay, @hotel, filter: "rentals"), class: "btn-medium-map btn-medium-blue", style:"background-color: #25353D;" %>
    <%= link_to "Sights", stay_hotel_locations_path(@stay, @hotel, filter: "Sights"), class: "btn-medium-map btn-medium-blue", style:"background-color: #25353D;"  %>
  </div>
</div>
</div>
</div>


<% content_for(:after_js) do %>
  <script>

   var styledMapType =
            [
    {
        "featureType": "water",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#25353D"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#25353D"
            }
        ]
    }
];

    $(document).ready(function() {


       var locations = <%= raw @hash.to_json %>

      var handler = Gmaps.build('Google');
      handler.buildMap({
        internal: { id: 'map' },
        provider: {
          scrollwheel: false,
          zoomControl: false,
          zoom: 15,
          disableDefaultUI: true,
          center: new google.maps.LatLng(<%= @hotel.latitude %>, <%= @hotel.longitude %>),
          mapTypeId: google.maps.MapTypeId.ROADMAP ,
          styles: styledMapType,
        }

       }, function() {
        var hotel_loc = {
      lat: <%=  @hotel.latitude %>,
      lng: <%= @hotel.longitude %>,
      picture: {
        url: "<%= image_path("map-marker-hotel.png") %>",
        width:  70 ,
        height: 70
      },
      infowindow: "<%= @hotel.name %>"
    }
        markers = handler.addMarkers(locations.concat(hotel_loc));
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      })

      setInterval(function() {
        $('.gm-style-iw').prev('div').remove();
      }, 100);
    });

    google.maps.event.addListenerOnce(map, 'idle', function(){

    });




  </script>
<% end %>

<%= render 'shared/bottom-navbar', home: stay_hotel_path(@stay, @hotel), services: stay_hotel_services_path(@stay, @hotel), locations: stay_hotel_locations_path(@stay, @hotel)  %>
