<%= content_for :nav_title, "back" %>
<%  hreff = "/stays/#{@stay.id}/hotels/#{@hotel.id}/locations" %>
<%= content_for :link, hreff %>

<p><%= @location.name %></p>
<p><%= @location.address %></p>
<p><%= @location.category %></p>




